<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.technologic">

    <uses-sdk android:minSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.NewUser"
            android:label="@string/newuser"
            android:parentActivityName=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.EditUser"
            android:label="@string/edituser" />
        <activity
            android:name=".Activities.HomePage"
            android:label="@string/homepage" />
        <activity
            android:name=".Activities.MyItems"
            android:label="@string/mycomputers" />
        <activity
            android:name=".Activities.AddItems"
            android:label="@string/addcomputer" />
        <activity
            android:name=".Activities.ItemInfo"
            android:label="@string/computerinfo" />
        <activity
            android:name=".Activities.LentOut"
            android:label="@string/lentout" />
        <activity
            android:name=".Activities.MyBorrows"
            android:label="@string/myborrows" />
        <activity
            android:name=".Activities.MyItemBids"
            android:label="@string/myitembids" />
        <activity
            android:name=".Activities.AcceptBid"
            android:label="@string/acceptbid" />
        <activity
            android:name=".Activities.Bids"
            android:label="@string/mybids" />
        <activity
            android:name=".Activities.ItemView"
            android:label="@string/title_activity_item_view">

        </activity>
    </application>

</manifest>
